@import compass/reset
@import compass/css3
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400)

body
	+background(linear-gradient(#320809, #af3250))
	color: #fff
	font-size: 14px
	text-align: center
	font-family: 'Open Sans', sans-serif
	border-top: 5em solid #000
	border-bottom: 5em solid #000
	padding: 6em 1em

.container
	background: rgba(0,0,0,.3)
	width: 90%
	margin: 0 auto 3em
	padding: 80px 1em
	+border-radius(2em)
	+box-sizing(border-box)
	+box-shadow(0px 0px 3px 0 rgba(0,0,0,0.7))

h1
	font-size: 6em
	font-weight: 800
	margin: 0 0 .5em
	+opacity(.8)

h2
	font-size: 1.5em
	font-weight: 400
	+opacity(.8)
	font-style: italic
	margin-bottom: 2em

h3
	font-size: 3em
	font-weight: 800
	+opacity(.5)
	// margin: 2em