@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400);
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.sass */
body {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #320809), color-stop(100%, #af3250));
  background: -webkit-linear-gradient(#320809, #af3250);
  background: -moz-linear-gradient(#320809, #af3250);
  background: -o-linear-gradient(#320809, #af3250);
  background: linear-gradient(#320809, #af3250);
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border-top: 5em solid black;
  border-bottom: 5em solid black;
  padding: 6em 1em;
}

/* line 18, ../sass/screen.sass */
.container {
  background: rgba(0, 0, 0, 0.3);
  width: 90%;
  margin: 0 auto 3em;
  padding: 80px 1em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  border-radius: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.7);
}

/* line 27, ../sass/screen.sass */
h1 {
  font-size: 3em;
  font-weight: 800;
  margin: 0 0 0.5em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 33, ../sass/screen.sass */
h2 {
  font-size: 1em;
  font-weight: 400;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  font-style: italic;
  margin-bottom: 1em;
}

/* line 40, ../sass/screen.sass */
h3 {
  font-size: 3em;
  font-weight: 800;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

@media (min-width: 700px) {
  /* line 46, ../sass/screen.sass */
  body {
    border-top: 5em solid black;
    border-bottom: 5em solid black;
    padding: 6em 1em;
  }

  /* line 51, ../sass/screen.sass */
  .container {
    margin: 0 auto 3em;
    padding: 80px 1em;
  }

  /* line 55, ../sass/screen.sass */
  h1 {
    font-size: 6em;
    margin: 0 0 0.5em;
  }

  /* line 59, ../sass/screen.sass */
  h2 {
    font-size: 1.5em;
    margin-bottom: 2em;
  }

  /* line 63, ../sass/screen.sass */
  h3 {
    font-size: 3em;
  }
}
